body {
  margin-top: 1.0rem;
  background: #abc3f8;
  font-family: Raleway;
  height: calc(100% - 1.0rem);
}
.panel {
  background: #d6dcff;
}
p {
  font-size: 13pt;
}
#tags {
  font-size: 16pt;
  line-height: 60pt;
  vertical-align: bottom;
}

/* name in header */
.name {
  font-size: 2.75rem;
  font-weight: 400;
  font-family: "Raleway";
}

.panel h1 {
  font-size: 15pt;
  font-weight: 700;
  font-family: "Raleway";
  margin-bottom: 1.25rem;
}
h2 {
  font-size: 13pt;
  font-family: "Raleway";
  font-weight: 600;
  margin-bottom: -0.1rem;
}


.note {
  font-size: 11pt;
  text-align: center;
  font-style: italic;
}
