body {
  background: #abc3f8;
  font-family: Ubuntu Sans;
  font-weight: 300;
  padding: 3rem 5rem 2rem 5rem;
}

/* Debug lines */
div {
  border-style: none;
  border-width: 0.5px;
}

a {
  color: #1779ba;
  text-decoration: none;
}

/* Site header */
.header {
  display: flex;
  flex-flow: row wrap;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  align-items: flex-end;
}

.header #name {
  font-size: 1.75rem;
  font-weight: 300;
}

.header #name a {
  color: black;
}

.header #links {
  font-size: 16pt;
  line-height: 1.75rem; /* Same as .header#name font-size */
  margin-left: auto;
}

/* contains the main lightblue page body */
.main {
  background: #d6dcff;
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 1.5rem 3rem 1.5rem 3rem;

  display: flex;
  flex-flow: row wrap;
}

p {
  margin-block-start: 0.25em;
  font-size: 13pt;
  font-weight: 300;
}

#aboutme {
  flex: 1 1 0;
  margin-right: 2rem;
}
#projects {
  flex: 2 1 0;
}
.post-content {
  min-width: 0;
}

/* Body text */
h1 {
  font-size: 1.6em;
  font-weight: 400;
  /* Apparently margin-block should work, but doesn't work for me in Chrome. */
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

/* Formatting styles. */
.note {
  font-size: 11pt;
  text-align: center;
  font-style: italic;
}

/* Code box */
div.highlight {
  background: #dee3ff;
  margin: 0rem 0rem 1rem 0.25rem;
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
}

/* Text only */
code {
  font-family: Ubuntu Sans Mono;
  font-size: 12pt;
}

/* Post */
.post-date {
  font-style: italic;
  font-size: 11pt;
  margin-bottom: 1rem;
}
