<header class="site-header">
  <div class="row">
    <div class="small-offset-2 large-4 columns" id="name">
      <h1>Terry Sun</h1>
    </div>
    <div class="large-6 columns" id="tags">
        <a
        href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#116;&#101;&#114;&#114;&#121;&#115;&#117;&#110;&#64;&#115;&#101;&#97;&#115;&#46;&#117;&#112;&#101;&#110;&#110;&#46;&#101;&#100;&#117;">
        &#116;&#101;&#114;&#114;&#121;&#115;&#117;&#110;&#46;&#115;&#101;&#97;&#115;&#46;&#117;&#112;&#101;&#110;&#110;&#46;&#101;&#100;&#117;</a> |
        <a href="https://github.com/terrynsun">github</a>
    </div>
  </div>
</header>
